.home {
  height: 100vh;
  background-image: url('public/homebackground.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: flex-start; /* Align items to the left */
  /* padding-left: 130px; 
  padding-right: 130px; */
  color: white; /* Change text color to white */
  font-family: 'DM Sans', sans-serif;
  text-align: left; /* Align text to the left */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  width: 95%; /* Ensure it takes full width */
  position: absolute; /* Position it over the background */
  top: 0; /* Align to the top */
  padding-top: 60px; /* Add padding at the top */
  padding-right: 200px;
  font-size: 20px;
}

.navbar a {
  color: black;
  padding: 10px 25px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust hover color for better visibility */
}

.get-in-touch-btn {
  background-color: #7087FF; /* Button background color */
  color: white; /* Button text color */
  padding: 28px 28px; /* Button padding */
  border: none; /* Remove default border */
  border-radius: 30px; /* Rounded corners */
  font-size: 25px; /* Button text size */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 20px; /* Add space above the button */
  margin-left: 130px; /* Add space above the button */
}

.get-in-touch-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


h1 {
  font-size: 100px; /* Set h1 font size */
  margin-bottom: 10px; /* Adjust margin for spacing below the h1 */
  color: white; /* Change text color to white */
  padding-left: 130px; 
  padding-right: 130px;
}

p {
  font-size: 30px; /* Set p font size */
  margin: 0; /* Reset margin if needed */
  padding-left: 130px; 
  padding-right: 130px;
}